
<div>
    <div class="container">
        <br><h3>Rentar vehiculo </h3><hr>
        <div class="row">
            <div class="col-md-4">
                <img src="https://as.ftcdn.net/r/v1/pics/7b11b8176a3611dbfb25406156a6ef50cd3a5009/home/discover_collections/optimized/image-2019-10-11-11-36-27-681.jpg" />
            </div>

            <div class="col-md-6">
                <h3>Titulo</h3>
                <h3>Descripcion</h3>
                <h4>Año</h4>
                <h4>Marca</h4>
                <h4>Modelo</h4>
                <h4>Tipo</h4>
            </div>

            <div class="col-md-2">
                <button class="btn btn-lg btn-success">Rentar</button>
            </div>
        </div>
    </div>
</div>